<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<header th:insert="fragments/admin_navbar.html"></header>

<div class="container">
  <span style="color: #CC0000" th:text="${errorMsg}"></span>

  <form method="post" th:action="@{/admin/users/save}" th:object="${user}">
    <div class="row g-3">
      <div class="col-auto">
        <label for="username" class="col-sm-2 col-form-label">Username:</label>
        <input type="text" class="form-control" id="username" th:field="*{username}">
      </div>
      <div class="col-auto">
        <label for="role" class="col-sm-2 col-form-label">Role:</label>
        <select class="form-control" id="role" th:field="*{role}">
          <option th:value="${null}"></option>
          <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol.name()}"></option>
        </select>
      </div>
      <div class="col-auto">
        <label for="status" class="col-sm-2 col-form-label">Status:</label>
        <select class="form-control" id="status" th:field="*{status}">
          <option th:value="${null}"></option>
          <option th:each="st : ${statuses}" th:value="${st}" th:text="${st.name()}"></option>
        </select>
      </div>
      <div class="col-auto">
        <label for="password" class="col-sm-2 col-form-label">Password:</label>
        <input type="password" class="form-control" id="password" th:field="*{password}">
      </div>
      <div class="col-auto">
        <label for="confirmedPassword" class="col-sm-2 col-form-label">Confirm Password:</label>
        <input type="password" class="form-control" id="confirmedPassword" th:field="*{confirmedPassword}">
      </div>
    </div>
    <div class="row g-3"><br><br></div>
    <div class="row g-3">
      <div class="col-auto">
        <button class="btn btn-primary mb-3" type="submit">Save</button>
        <button class="btn btn-secondary mb-3" type="button" onclick="history.back()">Back</button>
        <input type="hidden" th:field="*{id}">
      </div>
    </div>
  </form>
</div>
</body>
</html>