<th:block th:fragment="navbarParams(authenticated)" th:with="currentUsername=${currentUsername} ?: ''">
  <div class="row" th:if="${authenticated}">
    <div class="col">
      <b th:text="${currentUsername + ':'}"></b>
      <a style="width: 80px" href="/profile">Profile</a> | <a style="width: 100px" href="/auth/logout">Sign Out</a>
    </div>
  </div>
  <div class="row" th:unless="${authenticated}">
    <a style="width: 80px" href="/auth/login">Sign In</a> | <a style="width: 80px" href="/register">Sign Up</a>
  </div>
</th:block>
<br>