<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<div class="container">
  <div
      th:replace="fragments/user_navbar.html :: navbarParams(authenticated=${authenticated}, currentUsername=${currentUsername})"></div>
  <br>
  <span style="color: #CC0000" th:text="${errorMsg}"></span>
  <div class="row">
    <div class="col">
      <ul style="margin-left: 20px;">
        <li th:each="cartItem : ${cartItems}">
          <span th:text="${cartItem.productName + ' - '}"></span>
          <input type="number" min="1" readonly th:itemid="${cartItem.productId}"
                 style="width: 50px; height: 25px; padding: 3px;" th:value="${cartItem.count}">
          <span th:text="${' x ' + cartItem.productPrice + ' &euro; = '}"></span>
          <span th:text="${cartItem.totalPrice}"></span> &euro;
        </li>
      </ul>
    </div>
    <div class="col">
      <form method="post" th:action="@{/cart/checkout}" th:object="${profileData}">
        <div class="row g-3">
          <div class="col-auto">
            <label for="customer_name" class="col-sm-2 col-form-label">Name:</label>
            <input type="text" class="form-control" id="customer_name" th:field="*{name}">
          </div>
          <div class="col-auto">
            <label for="customer_address" class="col-sm-2 col-form-label">Address:</label>
            <input type="text" class="form-control" id="customer_address" th:field="*{address}">
          </div>
          <div class="col-auto">
            <label for="customer_email" class="col-sm-2 col-form-label">Email:</label>
            <input type="text" class="form-control" id="customer_email" th:field="*{email}">
          </div>
          <div class="col-auto">
            <label for="customer_phone" class="col-sm-2 col-form-label">Phone:</label>
            <input type="text" class="form-control" id="customer_phone" th:field="*{phone}">
          </div>
        </div>
        <div class="row g-3"><br><br></div>
        <div class="row g-3">
          <div class="col-auto">
            <button type="submit" class="btn btn-info" style="color: whitesmoke">Checkout (<span th:text="${cartAmount}"></span> &euro;)</button>
            <button class="btn btn-secondary" type="button" onclick="history.back()">Back</button>
            <input type="hidden" >
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>