<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<script>

  const cartItemRemoveListener = function () {
    const productId = $(this).attr('itemid');
    $.ajax({
      url: `/cart/${productId}/remove`,
      type: 'GET',
      cache: false,
      async: true,
      success: function (data) {
        $('#li_' + productId).hide();
        $('#cartCounter').text(data);
        $.get('/cart/amount', function (amount) {
          $('#cartAmount').text(amount);
        });
      }
    });
  };

  const cartItemCountListener = function () {
    const itemCount = $(this).val();
    const productId = $(this).attr('itemid');
    let counterVal = 0;

    $('input.updateCountField').each(function () {
      counterVal = +counterVal + +$(this).val();
    });
    $('#cartCounter').text(counterVal);

     $.ajax({
       url: '/cart/items/count',
       type: 'POST',
       data: {productId: productId, itemCount: itemCount},
       cache: false,
       async: true,
       success: function (data) {
         $('#cart').html(data);
         $.get('/cart/amount', function (amount) {
           $('#cartAmount').text(amount);
         });
       }
     });
  };

  $(document).ready(function () {
    $('#cartBtn').on('click', function () {
      $('#cart').toggle();
    });

    $('button.addCartBtn').on('click', function () {
      const productId = $(this).val();
      const productNameAndPrice = $(this).attr('title');
      const productNameAndPriceArr = productNameAndPrice.split('|');
      const productName = productNameAndPriceArr[0];
      const productPrice = productNameAndPriceArr[1];

      $.ajax({
        url: '/cart/add',
        type: 'POST',
        data: {productId: productId, productName: productName, productPrice: productPrice},
        cache: false,
        async: true,
        success: function (data) {
          const cartCounter = '#cartCounter';
          $(cartCounter).text(+($(cartCounter).text()) + 1);
          $('#cart').html(data);

          $('.removeCartBtn').bind('click', cartItemRemoveListener);
          $('input.updateCountField').bind('change', cartItemCountListener);
          $.get('/cart/amount', function (amount) {
            $('#cartAmount').text(amount);
          });
        }
     });
    });

    $('.removeCartBtn').on('click', cartItemRemoveListener);
    $('input.updateCountField').on('change', cartItemCountListener());
  });
</script>
<div class="container">
  <div class="row">
    <a style="width: 80px" href="/login">Sign In</a> | <a style="width: 80px" href="/register">Sign Up</a>
  </div>
  <br>
  <div class="row">
    <button id="cartBtn" type="button" class="btn btn-outline-danger mb-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
           viewBox="0 0 16 16">
        <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
      </svg>
      Cart (<span id="cartCounter" th:text="${totalCartItems}"></span>) - <span id="cartAmount" th:text="${cartAmount}"></span> &euro;
    </button>
    <ul id="cart" style="display: none; margin-left: 20px;">
      <th:block th:each="cartItem : ${cartItems}">
        <li th:id="${'li_' + cartItem.productId}">
          <span th:text="${cartItem.productName + ' - '}"></span>
          <input type="number" min="1" class="updateCountField" th:itemid="${cartItem.productId}"
                 style="width: 50px; height: 25px; padding: 3px;" th:value="${cartItem.count}">
          <span th:text="${' x ' + cartItem.productPrice + ' &euro; = '}"></span>
          <span th:text="${cartItem.totalPrice}"></span> &euro;
          <a class="removeCartBtn" href="#" th:itemid="${cartItem.productId}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                 viewBox="0 0 16 16">
              <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </a>
        </li>
      </th:block>
    </ul>
  </div>
  <div class="row">
    <div class="col" th:each="item : ${products}">
      <b><span th:text="${item.name}"></span></b><br>
      <span th:text="${item.price}"></span> &euro;<br>
      <button type="button" class="addCartBtn btn btn-outline-danger mb-3" th:title="${item.name + '|' + item.price.doubleValue()}" th:value="${item.id}">Add to Cart</button>
    </div>
  </div>
</div>
</body>
</html>