<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<!--<header th:insert="fragments/navbar.html"></header>-->
<script>
  $(document).ready(function(){

    $('button').click(function () {
      alert("click!");
      /*$.ajax({
        url: "/cart/add",
        type: "POST",
        data: { id: 50 },
        cache: false,
        async: true,
        success: function (data) {
          alert(data);
        }*/
      });
    });
</script>
<div class="container">
<div class="row">
  <div class="col" th:each="item : ${products}">
    <b><span th:text="${item.name}"></span></b><br>
    <span th:text="${item.price}"></span> &euro;<br>
    <button type="button">Add to Cart</button>
    <input type="hidden" name="productId" th:value="${item.id}">
  </div>
</div>
</div>
</body>
</html>