<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html"></head>
<body>
<!--<header th:insert="fragments/navbar.html"></header>-->
<script>
  $(document).ready(function() {

    $('button').on('click',function() {
      const productId = $(this).val();
      const productName = $(this).attr('title');

      $.ajax({
       url: "/cart/add",
       type: "POST",
       data: { productId: productId, productName: productName },
       cache: false,
       async: true,
       success: function (data) {
         alert(data);
       }
     });
    });
  });
</script>
<div class="container">
<div class="row">
  <div class="col" th:each="item : ${products}">
    <b><span th:text="${item.name}"></span></b><br>
    <span th:text="${item.price}"></span> &euro;<br>
    <button type="button" th:title="${item.name}" th:value="${item.id}">Add to Cart</button>
  </div>
</div>
</div>
</body>
</html>